* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.imgReloj{
    width: 350px;
}

body{
    background-color: rgb(142, 145, 158);;
}

form{
    width: 800px;
    margin: 3rem auto;
    background-color:rgb(190, 193, 211);
}
h1{
    text-align: center;
    margin: 1rem;
}

h2{
    margin: 0.5rem;
    
}
label{
    margin-left: 1rem;
}
input{
    margin: 0.5rem;
}
textarea,select{
    margin: 0.5rem;
}